.nav {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(211, 211, 211, 0.92);

  .h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.page {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}