* {
  font-family: sans-serif;
  --green: #2cb02c;
  --red: #ff5c5c;
  --orange: rgb(245, 158, 11);
  --dark-orange: rgb(217, 119, 6);
}

h1, h2, h3, h4, h5 ,h6 {
  font-family:'Times New Roman', Times, serif
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

